
.ulList a:focus{
    background-color: #252831;
}
.ulList a:focus  svg{
    color: yellow;
}
.ulList a,.nav-menu-items a{
    height: 0px !important;
}
.mainIssue, .mainDisbursement, .mainStop, .mainLost, .mainPrint, .mainReprint, .mainCancel{
    padding: 70px 0 20px 0;
    height: 100vh;
}

.issue, .disbursement,
.stop, .lost, .print, .reprint, .cancel{
    text-align: center;
    border-radius: 20px;
    height: 80vh;
    float: right;
    text-align: right;
    /* background-color: rgba(0, 0, 0, 0.504); */
}

.issue p,
.disbursement p,
.stop p,
.lost p,
.print p,
.reprint p,
.cancel p{
    background-color: var(--DarkGray);
    color: var(--green);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;    
    box-shadow: -5px 11px 19px #00000091;
}
.issue span,
.disbursement span,
.stop span,
.lost span,
.print span,
.reprint span,
.cancel span{
    float: left;
    background-color: var(--fontColor);
    padding: 10px;
    border-radius: 10px 0 10px 0 ;
}

.issue .video span,
.disbursement .video span,
.stop .video span,
.lost .video span,
.print .video span,
.reprint .video span,
.cancel .video span{
    background-color: transparent;
    padding: 0;
}
.issue .video,
.disbursement .video,
.stop .video,
.lost .video,
.print .video,
.reprint .video,
.cancel .video
{
    width: 50%;
    margin: auto;
    box-shadow: -10px 11px 19px #00000091;
}
.issue{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 15px;
    /* background-color: rgba(0, 0, 0, 0.504); */
    padding: 30px 10px;
    border-radius: 20px;
    height: 100vh;
}
.disbursement{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 15px;
    /* background-color: rgba(0, 0, 0, 0.504); */
    padding: 30px 10px;
    border-radius: 20px;
    height: 100vh;
}
.stop{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 15px;
    /* background-color: rgba(0, 0, 0, 0.504); */
    padding: 30px 10px;
    border-radius: 20px;
    height: 100vh;
}
.lost{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 15px;
    /* background-color: rgba(0, 0, 0, 0.504); */
    padding: 30px 10px;
    border-radius: 20px;
    height: 100vh;
}
.print{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 15px;
    /* background-color: rgba(0, 0, 0, 0.504); */
    padding: 30px 10px;
    border-radius: 20px;
    height: 100vh;
}
.reprint{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 15px;
    /* background-color: rgba(0, 0, 0, 0.504); */
    padding: 30px 10px;
    border-radius: 20px;
    height: 100vh;
}
.cancel{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 15px;
    /* background-color: rgba(0, 0, 0, 0.504); */
    padding: 30px 10px;
    border-radius: 20px;
    height: 100vh;
}

@media(max-width:500px) {
    .issue p,
    .disbursement p,
    .stop p,
    .lost p,
    .print p,
    .reprintp,
    .cancel p{
        height: 80%;
    }
    .issue .video ,
    .disbursement ,
    .stop .video ,
    .lost .video ,
    .print .video ,
    .reprint .vide,
    .cancel .video{ 
        width: 100%;
    }
}