.ulList a:focus{
    background-color: #252831;
}
.ulList a:focus  svg{
    color: yellow;
}
.ulList a,.nav-menu-items a{
    height: 0px !important;
}
.ach{
    width: 100%;
    margin-top: 20px;
    float: right;
    text-align: right;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.504);
    padding: 30px 10px;
    border-radius: 20px;
    height: 90vh;
    float: left;
    text-align: left;
    font-weight: bold;
}
.eswift{
    width: 100%;
    margin-top: 20px;
    float: right;
    text-align: right;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.504);
    padding: 30px 10px;
    border-radius: 20px;
    height: 90vh;
    float: left;
    text-align: left;
    font-weight: bold;
}
.swift{
    width: 100%;
    margin-top: 20px;
    float: right;
    text-align: right;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.504);
    padding: 30px 10px;
    border-radius: 20px;
    height: 90vh;
    float: left;
    text-align: left;
    font-weight: bold;
}