
.ulList a:focus{
    background-color: #252831;
}
.ulList a:focus  svg{
    color: yellow;
}
.ulList a,.nav-menu-items a{
    height: 0px !important;
}
.mainIal, .mainIanc, .mainIddt, .mainIcb{
    padding: 70px 0 20px 0;
    height: 100vh;
}

.ial, .ianc{
    text-align: center;
    border-radius: 20px;
    height: 80vh;
    float: right;
    text-align: right;
    /* background-color: rgba(0, 0, 0, 0.504); */
}
.ial p,
.ianc p{
    background-color: var(--DarkGray);
    color: var(--green);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;    
    box-shadow: -5px 11px 19px #00000091;
}
.ial span,
.ianc span{
    float: left;
    background-color: var(--fontColor);
    padding: 10px;
    border-radius: 10px 0 10px 0 ;
}
.ial .video,
.ianc .video,
.iddt .video,
.icb .video{
    width: 80%;
    margin: auto;
    box-shadow: -10px 11px 19px #00000091;
}


.iddt{
    margin-top: 20px;
    height: 100vh;
    float: right;
    text-align: right;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.504);
    padding: 30px 10px;
    border-radius: 20px;

}
.iddt span{
    float: left;
    text-align: left;
    font-weight: bold;
}
.icb{
    width: 100%;
    margin-top: 20px;
    float: right;
    text-align: right;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.504);
    padding: 30px 10px;
    border-radius: 20px;
    height: 100vh;

}
.icb span{
    float: left;
    text-align: left;
    font-weight: bold;
}