.navbar {
    height: 100%;
    display: flex;
    width:15%;
    align-items: center;
    z-index: 1000;
  }
  
  .menu-bars {
    background: none;
    border-radius: 3px;
  }
  
  .nav-menu {
    background-color:rgb(21,61,43);

    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
  
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    list-style: none;
    height: 100%;
  }

  .nav-user a{
    display: flex;
    color: #d0cfcf;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
  .nav-text a:hover {
    background-color: rgb(21,61,43);
  }
  
  .nav-menu-items {
    padding: 30px 0px 30px 0px;

  }
  .nav-menu-items a{
    color: #d0cfcf;
    padding: 20px 10px 20px 10px;
    list-style: none;
    font-size: 1.1rem;
    text-decoration: none;
  }